header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 40px;
    box-sizing: border-box;
}

.logo{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.logo img{
    height:60px;
}

.cabecario{
    padding: 20px 60px;
}

.menu{
    text-align: right;
}

.menu a{
    text-decoration:none;
    background-color: #f0f0f07e; 
    color:black;
    padding:10px 20px;
    border-radius:6px;
    font-weight:bold;
    margin-left:10px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.4);
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s; 
}

.menu a:hover{
    transform: translateY(-5px) scale(1.05);
    background: rgba(255,255,255,0.25);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/*CABECARIO*/



body {
    flex-direction: column;
    display: flex;
    background-color:rgb(202, 202, 202)
}

body {
    margin: 0;
    background-image: url("capoeirasFundo.1.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*CORPO*/


footer {
    width: 100%;
    height: auto;

    text-align: center;
}

footer a{
    color: black;
    text-decoration: none;
}


/*RODAPE*/

.caixaCards {
    display: flex;
    flex-direction: column;   
    gap: 40px;            
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;      
    margin-right: 60px;
}

.cardTipo {
    width: 500px;
    height: 100px;        
    background-color: #f0f0f07e; 
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
    margin-right: 60px;
}

.cardTipo a{
    text-decoration: none;      
    background-color: #f0f0f07e; 
    color: black;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    font-size: 35px;
}
 
.cardTipo:hover{
    transform: translateY(-5px) scale(1.05);
    background: rgba(255,255,255,0.25);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.cardTipo{
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.4);
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s; 
}

/*CARDS*/